extends layout/base

block content
    section.page-header
        h1.project-name= title
        h2.project-tagline Build static pages enjoyable!
        a(href="https://github.com/aNd1coder/page-factory",class="btn") View on GitHub
        a(href="https://github.com/aNd1coder/page-factory/zipball/master",class="btn",target="_blank") Download .zip
        a(href="https://github.com/aNd1coder/page-factory/tarball/master" class="btn",target="_blank") Download .tar.gz