extends layout/base

block content
    section.page-header
        h1.project-name= title
        h2.project-tagline Build static pages enjoyable!
        a(href="https://github.com/aNd1coder/page-factory",class="btn",target="_blank") View on GitHub
        a(href="https://github.com/aNd1coder/page-factory/zipball/master",class="btn",target="_blank") Download .zip
        a(href="https://github.com/aNd1coder/page-factory/tarball/master" class="btn",target="_blank") Download .tar.gz
    section.main-content
        h3 图片上传
        p 支持本地浏览、拖放、粘贴等方式快速批量上传图片，并可快速进行「热点图」生成，
            a(href="/upload") 立即体验
        h3 热点图
        p 支持给不规则图片添加链接或优惠券领取等热区，可以作为「模块」接入到「页面」中，让「页面」更为丰富，
            a(href="/hota") 立即体验
        h3 模块
        p 一个「模块」对应一个页面片文件（*.shtml），作为原子级别文件，可以被其他「模块」或「页面」引用，极大提高复用性和维护性，
            a(href="/module") 立即体验
        h3 模版
        p 可以定制不同的「模版」供「页面」使用，
            a(href="/template") 立即体验
        h3 页面
        p 可选择不同的「模版」并自由添加「模块」快速拼凑一个完整的「页面」，
            a(href="/page") 立即体验