body {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff;
}

.navbar-static-top {
    background-color: #2d2d2d;
    border-bottom: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-nav > li {
    border-left: 1px solid #3c3c3d;
    border-right: 1px solid #191919;
}

.navbar-nav {
    border-right: 1px solid #3c3c3d;
    border-left: 1px solid #191919;
}

.navbar-nav > li > a {
    font-size: 16px;
    color: #999;
}

.navbar-right > li > a {
    font-size: 14px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
}

.nav > li > a:hover,
.page-page .nav-page a,
.page-template .nav-template a,
.page-module .nav-module a {
    color: #fff;
    background-color: #222;
}

.navbar-brand {
    background-color: #337ab7;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-brand small {
    display: block;
    font-size: 12px;
}

.table a {
    margin-right: 5px;
}

.table caption {
    padding: 0 0 0 5px;
    margin-bottom: 10px;
    border-left: 5px solid #333;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.table caption a {
    margin-left: 10px;
    padding: .2em .5em;
    vertical-align: 1px;
}

.table td .label {
    margin-right: 5px;
    padding: .2em .4em;
}

.table code {
    cursor: pointer;
}

.table code.hover {
    color: #f9f2f4;
    background-color: #c7254e;
}

.well {
    padding: 10px;
    box-shadow: none;
}

.label {
    padding: .3em .5em .2em;
}

.btn, .label, .form-control {
    font-size: 12px;
}

textarea {
    resize: vertical;
}

input[type=checkbox], input[type=radio] {
    margin-top: 1px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: -15px;
}

input[type=checkbox] {
    margin-left: 10px;
}

.form .btn {
    margin-right: 20px;
}

.pagination {
    float: right;
    margin-top: 0;
}

.form-inline .form-group {
    margin-right: 10px;
}

.form-group .radio-inline {
    margin-left: 10px;
    vertical-align: top;
}

.form .label {
    margin-left: 10px;
    padding: .2em .3em;
}

.form-inline .control-label {
    margin-right: 5px;
}

.form-action .btn {
    font-size: 14px;
}

.tooltip-inner {
    max-width: 100%;
}

.modal-dialog .form-group {
    display: block;
    margin-bottom: 5px;
}

.modal-dialog .form-group:first-child .btn-delete {
    display: none;
}

.modal-dialog .input-group {
    margin-right: 5px;
}

.modal-dialog .btn {
    margin-right: 5px;
}

.html-editor {
    position: relative;
}

.html-editor:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    content: '点击此处编辑内容';
    color: #fff;
    font: bold 30px/300px 'Microsoft YaHei';
    background-color: rgba(0, 0, 0, .6);
    border-radius: 4px;
    cursor: pointer;
}

textarea.form-control {
    height: 300px;
    resize: none;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    margin-bottom: 0;
}