body {
    font: 12px "lucida grande", helvetica, arial, sans-serif;
    background-color: #fff;
}

.navbar-static-top {
    background-color: #2d2d2d;
    border-bottom: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-nav > li {
    border-left: 1px solid #3c3c3d;
    border-right: 1px solid #191919;
}

.navbar-nav {
    border-right: 1px solid #3c3c3d;
    border-left: 1px solid #191919;
}

.navbar-nav > li > a {
    font-size: 16px;
    color: #999;
}

.navbar-right > li > a {
    font-size: 14px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
}

.navbar-nav > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav .open > a,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.page-page .nav-page a,
.page-template .nav-template a,
.page-module .nav-module a,
.page-upload .nav-upload a,
.page-hota .nav-hota a {
    color: #fff;
    background-color: #222;
}

.page-page .form-module .input-group {
    width: 17.5%;
}

.page-page .form-module .input-group:last-child {
    width: auto;
    margin: 0;
}

.page-page .form-module .select-group {
    width: auto;
}

.form-module .input-group-addon {
    padding: 6px 8px;
}

.navbar-brand {
    position: relative;
    padding-left: 60px;
}

.navbar-brand, .navbar-brand h1, .navbar-brand small {
    font-size: 18px;
    transition: all .3s ease-in;
}

.navbar-brand .logo {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    animation: rotate 5s linear 1s infinite alternate;
    -webkit-animation: rotate 5s linear 1s infinite alternate;
}

.navbar-brand h1 {
    display: inline-block;
    margin: 0;
    font-family: Monaco, Courier;
    color: #4dc67e;
}

.navbar-brand:hover {
    background-color: #222;
}

.navbar-brand:hover .logo {
    transform: rotate(180deg);
}

.navbar-brand:hover h1 {
    color: #6897bb;
}

.navbar-brand:hover small {
    color: #4dc67e;
}

.navbar-brand small {
    color: #6897bb;
    margin-left: 10px;
}

.navbar-nav > li > .dropdown-menu {
    min-width: 0;
    width: 100%;
    border-top: none;
    text-shadow: none;
}

.table a {
    margin-right: 5px;
}

.table caption {
    padding: 0 0 0 5px;
    margin-bottom: 10px;
    border-left: 5px solid #333;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.table caption a {
    margin-left: 10px;
    padding: .2em .5em;
    vertical-align: 1px;
}

.table td .label {
    margin-right: 5px;
    padding: .2em .4em;
}

.table code {
    cursor: pointer;
}

.table code.hover {
    color: #f9f2f4;
    background-color: #c7254e;
}

.well {
    padding: 10px;
    box-shadow: none;
}

.label {
    padding: .3em .5em .2em;
}

.btn, .label, .form-control {
    font-size: 12px;
}

textarea {
    resize: vertical;
}

input[type=checkbox], input[type=radio] {
    margin-top: 1px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: -15px;
}

input[type=checkbox] {
    margin-left: 10px;
}

.form .btn {
    margin-left: 10px;
}

.form-action {
    text-align: right;
}

.form-action .btn {
    width: 100px;
    margin-left: 20px;
}

.pagination {
    float: right;
    margin-top: 0;
}

.form-inline .form-group {
    margin-right: 10px;
}

.form-group .radio-inline {
    margin-left: 10px;
    vertical-align: top;
}

.form .label {
    margin-left: 10px;
    padding: .2em .3em;
}

.form-inline .control-label {
    margin-right: 5px;
}

.form-action .btn {
    font-size: 14px;
}

.tooltip-inner {
    max-width: 100%;
}

.ui-popup {
    z-index: 2048 !important;
}

.ui-popup .ui-dialog {
    padding: 0;
}

.ui-dialog .ui-dialog-title {
    width: auto;
    margin: 0;
    padding: 15px;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.modal-dialog .form-group {
    display: block;
    margin-bottom: 5px;
}

.modal-dialog .form-module .form-group:first-child .btn-delete {
    display: none;
}

.modal-dialog .input-group {
    margin-right: 5px;
}

.modal-dialog .btn {
    margin-left: 0;
    margin-right: 5px;
}

.html-editor {
    position: relative;
}

.html-editor:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    content: '点击编辑';
    color: #fff;
    font: bold 30px/300px 'microsoft yahei';
    background-color: rgba(0, 0, 0, .6);
    border-radius: 4px;
    cursor: pointer;
}

textarea.form-control {
    height: 300px;
    resize: none;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li > a {
    font-weight: 700;
    color: #333;
}

.nav-tabs > li > a:hover {
    border-color: #eee;
}

.form-authorize {
    width: 350px;
    margin: 100px auto;
}

.form-authorize .page-header {
    margin-top: 10px;
}

.form-authorize .alert {
    margin-bottom: 5px;
}

.form-authorize li {
    margin-left: 15px;
}

.form-uploader {
    position: relative;
    margin-bottom: 10px;
    padding: 60px 0 40px;
    text-align: center;
    font-size: 20px;
    border: 3px dashed #ccc;
    color: #ddd;
    background-color: #fafafa;
    border-radius: 4px;
}

.form-uploader .or {
    margin: 10px 0;
    font-size: 16px;
    color: #e9e9e9;
}

.form-uploader .uploadify {
    margin: 0 auto;
}

.form-uploader .uploadify-button {
    line-height: 1.5em !important;
    border: 1px solid #ccc;
    color: #999;
    border-radius: 3px;
    text-shadow: none;
}

.form-uploader .uploadify-button {
    background: #fff;
}

.form-uploader .uploadify:hover .uploadify-button {
    background: #fff;
    color: #666;
    border-color: #888;
}

.form-uploader .glyphicon-upload {
    top: 2px;
    margin-right: 2px;
}

.form-uploader.dragover {
    border-color: #666;
}

.form-uploader.dragover:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 210px;
    border-radius: 4px;
    content: '松开鼠标';
    font-size: 20px;
    color: #666;
    text-align: center;
    background-color: rgba(104, 151, 187, .4);
}

.form-uploader .uploadify-queue {
    margin-top: 20px;
}

.form-uploader .uploadify-queue-item {
    max-width: 100% !important;
    margin: 5px 10px 0;
}

.list-files .btn {
    margin-left: 5px;
    padding: 1px 10px;
}

.list-files .list-group-item-heading {
    margin-bottom: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.popover img {
    max-width: 250px;
}

.page-index .container-fluid {
    padding: 0;
}

.page-index .navbar-static-top {
    margin: 0;
}

.page-index .page-header {
    padding: 100px 0;
    margin: 0;
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

.page-header .project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.page-header .project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

.page-index .btn {
    display: inline-block;
    margin: 1rem .5rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}