header.navbar.navbar-static-top
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/")
                img.logo(src="/img/logo.png")
                h1 PageFactory
                small 页面工厂
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li.nav-upload
                    a(href="/upload") 图片上传
                li.nav-hota
                    a(href="/hota") 热点图
                if(user && user.roles.indexOf(1) == 0 /* super administrator */)
                    li.nav-module
                        a(href="/module/") 模块
                    li.nav-template
                        a(href="/template/") 模版
                li.nav-page
                    a(href="/page/") 页面
            if(user && user.username)
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="javascript:;",data-toggle="dropdown")
                            = user.username
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/logout") 退出