- pages = {page:'页面',template:'模版',module:'模块'}
doctype html
html(class= 'page-' + controllerName)
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        meta(name="author",content="samgui")
        title= title + ' - 页面工厂'
        link(rel="stylesheet",href="/vendor/jquery/jquery-ui.min.css")
        link(rel="stylesheet",href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet",href="/vendor/dialog/ui-dialog.css")
        link(rel='stylesheet',href='/css/app.css')
        script(src="/vendor/jquery/jquery.min.js")
        script(src="/vendor/jquery/jquery-ui.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/vendor/dialog/dialog-plus-min.js")
        script(src="/vendor/zeroclipboard/jquery.zeroclipboard.min.js")
    body
        header.navbar.navbar-static-top
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/page/")
                        h1 PageFactory
                        small 页面工厂
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.nav-upload
                            a(href="/upload") 图片上传
                        li.nav-hota
                            a(href="/hota") 热点图
                        li.nav-page
                            a(href="/page/") 页面
                        li.nav-template
                            a(href="/template/") 模版
                        li.nav-module
                            a(href="/module/") 模块
                    if(user && user.username)
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="javascript:;",data-toggle="dropdown")
                                    = user.username
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="/logout") 退出
        .container-fluid
            include ../mixin/_base
            block content
        script(src="/js/app.js")