- pages = {page:'页面',template:'模版',module:'模块'}
doctype html
html(class= 'page-' + controllerName)
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1")
        meta(name="author",content="samgui")
        title= title + ' - 页面工厂'
        link(rel="shortcut icon",href="/favicon.ico")
        link(rel="stylesheet",href="/vendor/jquery/jquery-ui.min.css")
        link(rel="stylesheet",href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet",href="/vendor/dialog/ui-dialog.css")
        link(rel='stylesheet',href='/css/app.css')
        script(src="/vendor/jquery/jquery.min.js")
        script(src="/vendor/jquery/jquery-ui.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/vendor/dialog/dialog-plus-min.js")
        script(src="/vendor/zeroclipboard/jquery.zeroclipboard.min.js")
    body
        include ../component/navbar
        .container-fluid
            block content
        script(src="/js/app.js")