.modal.modal-module.fade
    .modal-dialog
        .modal-content
            .modal-header
                a.close(href="javacript:;",data-dismiss="modal")
                    span &times;
                .modal-title 编辑页面内容
            .modal-body
                .form.form-module
                    ul.nav.nav-tabs
                        li.active
                            a(href="#content",data-toggle="tab") 内容
                        li
                            a(href="#style",data-toggle="tab") 样式
                        li
                            a(href="#script",data-toggle="tab") 脚本
                    .tab-content.well
                        #content(class="tab-pane active form-inline")
                            include ../component/module
                        #style.tab-pane
                            textarea.form-control(type="text",name="style")= model && model.style ? model.style : '<style>body{background-color: #fff;}</style>'
                        #script.tab-pane
                            textarea.form-control(type="text",name="script")= model ? model.script : ''
            .modal-footer
                a.btn.btn-default(href="javascript:;",data-dismiss="modal") 关闭
                a.btn.btn-primary.btn-save(href="javascript:;",type="submit") 保存
script#tpl-page-module(type="text/html").
    <% for (var i = 0, count = data.length, module ; i < count, module = data[i]; i++) {
        var index = 'module-index-' + (i + 1);
        var type = module[1];
        var klass = 'module module-' + type + ' ' + index;
        var content = module[2];
        var background = (module[4] ? 'background-color:' + module[4] : '') + (module[5] ? 'background-image:url(' + module[5] + ')' : '');
        var style = background ? ' style="' + background + '"' : '';

    if(content){
        if (type == 'bundle') { %>
            <div id="<%= index %>" class="<%= klass %> module-theme-<%= module[3] || 1 %>" data-id="<%= content %>"<%= style %>>
                <i class="loading"></i>
            </div>
        <% }

        if (type == 'slider') { %>
        <div id="<%= index %>" class="<%= klass %>" data-id="<%= content %>"<%= style %>>
            <i class="loading"></i>
        </div>
        <% }

        if (type == 'hota') { %>
        <div id="<%= index %>" class="<%= klass %>"<%= style %>>
            <div class="container"><%= content.replace('class="hota-imgholder" src','class="hota-imgholder" src="#{setting.imgholder}" data-src') %></div>
        </div>
        <% }

        if (type == 'banner') { %>
        <div id="<%= index %>" class="<%= klass %>" data-src="<%= content %>"></div>
        <% }
        }
    }%>